<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200 bg-white shadow-sm">
        <!-- Brand Name -->
        <a href="/" class="text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-teal-500 via-blue-500 to-purple-500 hover:opacity-90 transition-opacity duration-200 ease-in-out">MarketNest</a>
        
        <!-- Navbar Links and User Greeting -->
        <div class="flex items-center space-x-8">
            <!-- Navigation Links -->
            <a href="{% url 'item:new' %}" class="text-lg font-semibold hover:text-teal-500 transition-colors duration-200">New item</a>
            <a href="{% url 'item:items' %}" class="text-lg font-semibold hover:text-teal-500 transition-colors duration-200">Browse</a>
            
            <!-- User Greeting for Authenticated Users -->
            {% if request.user.is_authenticated %}
                <p class="text-lg font-medium text-gray-800 border-l border-gray-300 pl-4 ml-4">Hello, <span class="font-semibold">{{ request.user.username }}!</span></p>
                <a href="{% url 'conversation:inbox' %}" class="px-6 py-2 text-lg font-semibold text-white bg-teal-500 rounded-lg hover:bg-teal-600 transition-colors duration-200">Inbox</a>
                <a href="{% url 'dashboard:index' %}" class="px-6 py-2 text-lg font-semibold text-white bg-gray-500 rounded-lg hover:bg-gray-600 transition-colors duration-200">Dashboard</a>
                <a href="{% url "core:logout" %}" class="px-6 py-2 text-lg font-semibold text-white bg-red-500 rounded-lg hover:bg-red-600 transition-colors duration-200">Log out</a>
            {% else %}
                <a href="{% url 'core:signup' %}" class="px-6 py-2 text-lg font-semibold text-white bg-teal-500 rounded-lg hover:bg-teal-600 transition-colors duration-200">Sign up</a>
                <a href="{% url 'core:login' %}" class="px-6 py-2 text-lg font-semibold text-white bg-gray-500 rounded-lg hover:bg-gray-600 transition-colors duration-200">Log in</a>
            {% endif %}
        </div>
    </nav>

    <div class="px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Start Footer -->
    <footer class="px-6 py-6 flex justify-between bg-gray-800">
        <div class="w-2/3 pr-10">
            <h3 class="mb-5 font-semibold text-gray-400">About</h3>
            <p class="text-lg text-gray-500">MarketNest is more than just a marketplace—it's a community. We connect buyers and sellers
                to bring the best deals, unique products, and a personalized shopping experience right to your fingertips.
                From fashion to home decor, and everything in between, we are here to help you discover your new favorite thing.
            </p>
        </div>

        <div class="w-1/3">
            <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
            <ul class="space-y-2">
            <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">About</a></li>
            <li><a href="{% url 'core:contact' %}" class="text-lg text-teal-500 hover:text-teal-700">Contact</a></li>
            <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Privacy policy</a></li>
            <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Terms of use</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
